
ul.ui-autocomplete {
    z-index: 1100;
}


hr {
    border-top: 2px solid #aaaaaa;
}

.card {
    overflow: hidden;
    position: relative;
    background-color: white;
    border-bottom: 2px solid #aaaaaa;
    height: 7em;
}



.options-toggle {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background-color: #3498db;
    margin: 0;
    border-bottom: 2px solid #2980b9;
    text-align: center;
    color: white;
    line-height: 40px;
    font-size: 1.5em;
    font-weight: 600;
}

.options {
    height: 40px;
    position: absolute;
    top: 0;
    right: -201px;
    width: 200px;
    background-color: #2ecc71;
    border-bottom: 2px solid #27ae60;
}

.options > div {
    color: white;
    width: 20%;
    float: left;
    line-height: 40px;
    text-align: center;
    /*font-size: 1.5em;*/
    font-weight: 600;
}

.option-selected {
    background-color: #4d5fef !important;
}

.options-toggle:hover {
    background-color: #5b66c2;
    cursor: pointer;
}

.options > div:hover{
    background-color: #27ae60;
    cursor: pointer;
}

.input {
    position: relative;
    /*top: 0;*/
    /*z-index: 5;*/
    overflow: visible;
    margin-bottom: 125px;
}

.hidden {
    position: relative;
    margin-top: -7.5em;
    z-index: -1;
}

/*.undo {*/
/*    position: absolute;*/
/*    bottom: -150px;*/
/*    height: 40px;*/
/*    width: 100%;*/
/*    background-color: #e1e1e1;*/
/*    margin: 5px 0;*/
/*    border-bottom: 2px solid #7f8c8d;*/
/*    text-align: center;*/
/*    color: #95a5a6;*/
/*    line-height: 40px;*/
/*    !*font-size: 1.5em;*!*/
/*    font-weight: 600;*/
/*    -webkit-touch-callout: none;*/
/*    -webkit-user-select: none;*/
/*    -khtml-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*}*/

/*.undo:hover {*/
/*    background-color: #d1d1d1;*/
/*    cursor: pointer;*/
/*}*/

.add:hover {
    background-color: #4d5fef;
    cursor: pointer;
}

.add {
    position: absolute;
    /*bottom: -60px;*/
    height: 40px;
    width: 95%;
    background-color: #5b66c2;
    /*margin: 5px 0;*/
    border-bottom: 2px solid #5b66c2;
    text-align: center;
    color: white;
    line-height: 40px;
    /*font-size: 1.5em;*/
    font-weight: 600;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    float: right;
    color: #333;
    width: 100%;
    text-align: left;
    margin: 0;
    padding-left: 20px;
    height: 40px;
    line-height: 45px;
    font-size: 15px;
    font-weight: 300;
    background-color: transparent;
    border-bottom: 2px solid #2980b9;
}



 input[class=title] {
    border: none;
    border-bottom: 2px solid #2980b9;
    font-size: 24px;
    line-height: 40px;
    width: 100%!important;
}

textarea[class=copy] {
    width: 100%!important;
}

.copy {
    width: 95%;
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin:0;
    padding: 10px 10px 5px 10px;
    font-size: 12px;
    overflow: hidden;
    float: right;
}

.copy-input {
    width: 100%;
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin:0;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    overflow: hidden;
    border: 0px;
    height: 70px;
}

title::-webkit-input-placeholder {
   font-size: 24px;
   font-weight: 600;
   line-height: 60px;
}

title:-moz-placeholder { /* Firefox 18- */
   font-size: 24px;
   font-weight: 600;
   line-height: 40px;
}

title::-moz-placeholder {  /* Firefox 19+ */
   font-size: 24px;
   font-weight: 600;
   line-height: 40px;
}

title:-ms-input-placeholder {
   font-size: 24px;
   font-weight: 600;
   line-height: 40px;
}



.input:hover {
    background-color: white!important;
}


